<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guerriers du Givre - Connexion</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>

    <header id="main-header">
        </header>

    <main id="login-container">
        <div id="login-box">
            
            <% if (error) { %>
                <p style="color: red; font-weight: bold;"><%= error %></p>
            <% } %>

            <form action="/change-password" method="POST">
                <h2>Sécurité 🔒</h2>
                <p style="color: #81d4fa; font-size: 0.9em; margin-bottom: 20px;">
                    C'est votre première connexion. Bienvenue !👋<br> Choisissez votre nouveau mot de passe.
                </p>
                
                <label for="newPassword">Nouveau mot de passe</label>   
                <input type="password" id="newPassword" name="newPassword" required>

                <label for="confirmPassword">Confirmer le mot de passe</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>

                <button type="submit" id="connect-button">Valider le changement</button>
            </form>
        </div>
    </main>
</body>
</html>